<!DOCTYPE html>
<html  dir="ltr" lang="en-US">
<head>

</head>
<body>

  <nav class="nav-navBar white ">
    Hello This is for the ase web application
  </nav>
<%
user.forEach(function(user){
%>
<div>This is <%=user.username%></div>
<div>My email is  <%=user.email%></div>

<%
})
%>

<footer class="page-footer">
  This is footer
</footer>
<script type="text/javascript">

</script>
</body>
</html>
