<!DOCTYPE html>
<html  dir="ltr" lang="en-US">
<head>

</head>
<body>

  <nav class="nav-navBar white ">
    Hello This is for the ase web application
  </nav>
<%
user.forEach(function(user){
%>
<div>The user's profile is  <%=user.profile%></div>
<div>The user's credential is  <%=user.credential%></div>

<%
})
%>

<footer class="page-footer">
  This is footer
</footer>
<script type="text/javascript">

</script>
</body>
</html>
