#JoinEventModal {
    display: block !important; /* I added this to see the modal, you don't need this */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: initial!important;
}

/* Important part */
#JoinEventModal .modal-dialog{
    overflow-y: initial !important;
    width: 100%;
}
#JoinEventModal .modal-body{
    min-height: 50vh;
    max-height: 60vh;
    overflow-y: auto;
}